<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pagename }}</title>
</head>
<body>
    {% block pagename %}
        <h1>{{ pagename }}</h1>
    {% endblock %}

    <nav>
        {% block menu %}
        <ul>
            <li><a href="/task4/">Главная</a></li>
            <li><a href="/task4/shop/">Магазин</a></li>
            <li><a href="/task4/cart/">Корзина</a></li>
        </ul>
        {% endblock %}
    </nav>

    <main>
        {% block content %}

        {% endblock %}
    </main>
</body>
</html>