<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
</head>
<body>
    <h1>Главная страница</h1>
    <nav>
        <ul>
            <li><a href="/task3/">Главная</a></li>
            <li><a href="/task3/shop/">Магазин</a></li>
            <li><a href="/task3/cart/">Корзина</a></li>
        </ul>
    </nav>
    <p>Добро пожаловать на главную страницу игрового магазина!</p>
</body>
</html>
